<% provide :title, t(".title") %>
<div class="main">
  <div class="container">
    <div class="main-wrapper">
      <%= image_tag "logo.png", class: "main-logo" %>
      <h1><%= t ".welcome" %></h1>
      <%= link_to t(".join"), login_path, class: "btn btn-danger main-button" %>
    </div>
  </div>
</div>
