# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 97b32352ba23976747fdd280d9f9f076b27ccc7da53e2f505bf7478cdc33a5ba03fdc553c47bc98f81bb128b8cfd1d87a5446deb820391b1ac80d6533e1bef64

test:
  secret_key_base: 3807d8e65be88d53f0a71d406b67a42d3c5b807e090932e4efd5540c763b16b70c61643bf05edaeb5d3595022e1f3a5a15d361f30af4e25d0640d004972737eb

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
