.requests {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid;
    overflow: auto;
    padding: 10px 0;
  }

  img {
    max-height: 100px;
  }
}

.request-item {
  padding-left: 20px;
}
