.group-over-view{
  width: 100%;
}

.cover{
  height: 250px;
  margin-bottom: 15px;
}

.group-users{
  min-height: 200px;
}

.group-info{
  min-height: 200px;
}

.map-only-show{
  height: 250px;
}

.join-btn{
  height: 100px;
  padding-top: 20px;
}

.group-description{
  margin-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.group-body{
  padding: 5px;
}
