.group-chat {
  height: calc(100vh + 180px);
  min-height: calc(100vh + 180px);
}

.group-chat-body {
  height: calc(100vh - 200px);
  margin-left: 5px;
  margin-right: 5px;
}

.chat-body {
  height: calc(100vh - 243px);
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-box {
  width: 100%;
}
