.group-chat {
  height: calc(100vh + 30px);
  min-height: calc(100vh + 30px);
}

.group-chat-body {
  margin-left: 5px;
  margin-right: 5px;
}

.chat-body {
  height: - 273px;
  max-height: - 273px;
  overflow-x: hidden;
  overflow-y: auto;
}
