$dark-green: #d7dcdf;
$teal: #1abc9c;
$gray-darker: #969623;

.map-body {
  overflow-y: hidden;
}

.map {
  height: calc(100vh - 53px);
}

.info {
  background-color: $gray-darker;
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  transition: .25s;
  z-index: 100;
}

.info-hide {
  visibility: hidden;
  width: 0;
}

.info-show {
  width: 400px;
}
