$blue: #6495ed;
$gray-darker: #969623;
$white: #fff;

* {
  cursor: pointer;
}

.search-input {
  background-color: $blue;
  padding: 10px;
}

.search-input-body {
  background-color: $white;
}

.tools {
  height: 15%;
}

.image {
  max-height: 100px;
  min-height: 100px;
  width: 100%;
}

.restaurant-name {
  font-size: 30px;
  height: 10%;
  margin-bottom: 10px;
}

.rates {
  font-size: 30px;
  height: 53px;
  margin-top: 10px;
}

.groups {
  font-size: 30px;
  height: 15%;
}

.groups-view {margin-left: 10px;}

.group-card {margin-right: 5px;}

.max-lines {
  display: inline-block;
  line-height: 1.8em;
  max-height: 3.6em;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  margin: 0 auto;
}

.list-groups {
  max-height: 300px;
  min-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  width: 400px;
}

.group-item {
  background-color: $gray-darker;
  margin-bottom: 5px;
  max-height: 60px;
  min-height: 60px;
}
