.wrapper-user-info {
  margin: 60px auto;
}

.avatar {
  margin-top: 30px;
  padding: 10px;
  background-color: #909fa7;
  border-radius: 5px;

  .thumbnail {
    margin-bottom: 0;
  }
}

.user-info-body {
  border-radius: 5px;
  padding-top: 10px;
}
