@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray: #bbb;
$black: #000;
$white: #fff;

//Signup
.main-form {
  background-image: image-url('dinner.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  position: fixed;
  width: 100%;

  .main-wrapper-form {
    display: block;
    height: 100%;
    left: 0%;
    position: absolute;
    vertical-align: middle;
    width: 100%;
  }
}

.row {
  margin-top: 7%;
}

.form-signup {

  input,
  textarea,
  select,
  .uneditable-input {
    border: 1px solid  $gray;
    margin-bottom: 15px;
    width: 100%;
  }

  .col-md-offset-4 {
    background-color: $black;
    border-radius: 20px;
    color: $white;
    opacity: .7;
  }

  .title-signup {
    margin-top: 5px;
    text-align: center;
  }

  .form-control {
    background-color: $black;
    color: $white;
  }

  .btn-primary {
    background-color: $black;
    margin-bottom: 15px;
  }

  .line {
    border-bottom: 1px solid;
    margin-left: 37%;
    width: 25%;
  }
}

.form-login {
  input,
  textarea,
  select,
  .uneditable-input {
    border: 1px solid  $gray;
    margin-bottom: 15px;
    width: 100%;
  }

  .col-md-offset-4 {
    background-color: $black;
    border-radius: 20px;
    color: $white;
    opacity: .7;
  }

  .title-login {
    margin-top: 10px;
    text-align: center;
  }

  .form-control {
    background-color: $black;
    color: $white;
  }

  .btn-primary {
    background-color: $black;
    margin-bottom: 15px;
  }

  .line {
    border-bottom: 1px solid;
    margin-left: 37%;
    width: 25%;
  }

  .checkbox {
    margin-bottom: 10px;
    margin-top: -10px;

    span {
      font-weight: normal;
      margin-left: 20px;
      }
  }

  .remember-checkbox {
    margin-left: 5px !important;
    width: auto;
  }
}
