<!DOCTYPE html>
<html>
  <head>
    <title><%= t "app_name" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div id="nav_bar"></div>
    <div id="root"></div>
    <div id="footer"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr7CFYsG2HRso5yE_9To8eQHJeHjK_YqM&libraries=places"></script>
  </body>
</html>
